<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

para dejar claro las partes que componen el bicle for, vamos s dejar claro las siguientes definiciones:
1: iterable; son los objetos que pueden ser iterados por ejemplo una lista de valor cadena
2. iterador son objetos que hacen referencia a un elemnto (para hacer referencia a cada uno de los elementos hay unmetodo denominado "next" que permite hacer referencia a los elementos del conjunto


for in: <bloque de codigo>

algunos ejemplos de iterable sen python son las listas, cadenas, diccionarios, tuplas etc....

Â¿como saber que es iterable a la hora de programar? podemos darnos cuenta que es iterable usando la funcion isinstance().

In [3]:
for i in range (1,6):
  print(i)

1
2
3
4
5

**for anidados**
es posible anidar los for, es decir ingresar uno dentro del otro, como lo vemos a continuacion

**ejemplo**

In [2]:
#vamos a crear una loista de lista lo cual conforma una especie de matriz
#recordemos que una matriz se compone de valores que se distribuye en filas y columnas

qa =[ 
     [1,2,3],
     [4,5,6],
     [7,8,9]
]
for i in qa:
  print(i)


for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

In [5]:
#otra forma de utilizar solo el for , es la oteracion al reves, es decir que la lista 

lista=[1,2,3,4,5,6,7,8,9]

for i in lista[::-1]:
  print(i)

9
8
7
6
5
4
3
2
1

In [6]:

lista=[1,2,3,4,5,6,7,8,9]

for i in lista[::2]:
  print(i)

1
3
5
7
9

In [7]:
lista="computador"

for i in lista[::2]:
  print(i)

c
m
u
a
o

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
#observemos un truco con el range
#estructura range (inicio, fin, salto)

print(list(range(2,10,2)))

[2, 4, 6, 8]

**listas de comprension**


---
estas nos permiten crear listas de elementos en una sola linea de codigo.

Ejemplo:
Crear una lista de las potencias a las 3 de los numeros impares de o a 9

In [31]:
tres=[]
for i in range(1,10,2):
  tres.append(i**3)
  print(tres)

tres=[1**3 for i in range (1,10,2)]
print(tres)

[1]
[1, 27]
[1, 27, 125]
[1, 27, 125, 343]
[1, 27, 125, 343, 729]
[1, 1, 1, 1, 1]

In [29]:
s=[1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [32]:
lwa=[5,10,15,20,25,30]
lwa2=[i/5 for i in lwa]
print(lwa2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [36]:
pera="mama ama a emma"
pera2=[i for i in pera if i=="m"]