<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd #llamamos la libreria pandas y le ponemos un alias pd
david = pd.Series([145,142,38,13], name='counts') #se crea una serie con los siguientes datos
#convierte una lista en una serie y a la columna se le nombra counts

print(type(david))
david

<class 'pandas.core.series.Series'>

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [3]:
pd.Series(['a','b','c'])

0    a
1    b
2    c
dtype: object