<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd #llamamos la libreria pandas y le ponemos un alias pd
david = pd.Series([145,142,38,13], name='counts') #se crea una serie con los siguientes datos
#convierte una lista en una serie y a la columna se le nombra counts

print(type(david))
print('\n')
print(david.index)
print('\n')
print(david.values)
print('\n')
david

<class 'pandas.core.series.Series'>


RangeIndex(start=0, stop=4, step=1)


[145 142  38  13]

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [3]:
pd.Series(['a','b','c'])

0    a
1    b
2    c
dtype: object

In [12]:
#indice no tiene que ser numero
david3 = pd.Series([145,142,38,13], name ='counts',index=['juan','pedro','sofia','andrea'])
print(david3)
print('\n')
print(david3.values)
print('\n')
print(david3.index)
print('\n')

juan      145
pedro     142
sofia      38
andrea     13
Name: counts, dtype: int64


[145 142  38  13]


Index(['juan', 'pedro', 'sofia', 'andrea'], dtype='object')

In [15]:
#y que hay de los nulos
nan_ser = pd.Series([2,None],index=['O','C'])
print(nan_ser)#nan solo puede ser dato tipo float
nan_ser.count()

O    2.0
C    NaN
dtype: float64

1

In [26]:
serie_impar =pd.Series(range(1,16,2),name='impar')
print(serie_impar.values)
print('\n')
serie_impar

[ 1  3  5  7  9 11 13 15]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
Name: impar, dtype: int64