<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**continuacion de ciclos**


---
**ciclo for: ciclo bucle for**

para dejar claro las partes que componen el bucle for, vamos a dejar claro las siguientes definiciones:

**1: iterable;** son los objetos que pueden ser iterados, por ejemplo una lista, un valor tipo cadena.


**2. iterador** son objetos que hacen referencia a un elemento (para hacer referencia a cada uno de los elementos hay un metodo denominado **"next"** que permite hacer referencia a los elementos del conjunto



---


for **variable** in **(iterable)**: 
      **(bloque de codigo)**


---



algunos ejemplos de iterable en python son las listas, cadenas, diccionarios, tuplas etc....

**Â¿como saber que es iterable a la hora de programar?** podemos darnos cuenta que es iterable usando la funcion **isinstance().**

In [ ]:
for i in range (1,6):
  print(i)

1
2
3
4
5

In [13]:
from collections import Iterable # paquete iterable de collecciones (python 3.7) kernel
lista=[1,2,3,4,5,6,7,8,9,0]
a="computador"
b= 10
print(isinstance(lista,Iterable))
print(isinstance(a,Iterable))
print(isinstance(b,Iterable))

True
True
False

In [16]:
a=30
for i in (a):
  print(i)

TypeError: ignored

In [ ]:
para conocer los iteradores es importante conocer la funcion **iter()**
esta funcion puede ser llamada sobre un objeto que sea iterable y nos devolvera un interador
ejemplo:

In [18]:
lista=[1,2,3,4,5,6,7,8,9,0]
ref= iter(lista)
print(ref)
print(type(ref))

<list_iterator object at 0x7f05b20c06d0>
<class 'list_iterator'>

al imprimir ref es un iterador de la clase **list_iterador** hace referencia a la lista original y nos permite acceder a sus elementos con la funcion **next**

In [24]:
lista=[1,2,3,4,5,6,7,8,9,0]
ref=iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4
5
6
7
8
9
0

**for anidados**
es posible anidar los for, es decir ingresar uno dentro del otro, como lo vemos a continuacion

**ejemplo**

In [ ]:
#vamos a crear una lista de lista lo cual conforma una especie de matriz
#recordemos que una matriz se compone de valores que se distribuye en filas y columnas

qa =[ 
     [1,2,3],
     [4,5,6],
     [7,8,9]
]
for i in qa:
  print(i)


for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

In [ ]:
#otra forma de utilizar solo el for , es la oteracion al reves, es decir que la lista 

lista=[1,2,3,4,5,6,7,8,9]

for i in lista[::-1]:
  print(i)

9
8
7
6
5
4
3
2
1

In [ ]:

lista=[1,2,3,4,5,6,7,8,9]

for i in lista[::2]:
  print(i)

1
3
5
7
9

In [ ]:
lista="computador"

for i in lista[::2]:
  print(i)

c
m
u
a
o

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#observemos un truco con el range
#estructura range (inicio, fin, salto)

print(list(range(2,10,2)))

[2, 4, 6, 8]

**listas de comprension**


---
estas nos permiten crear listas de elementos en una sola linea de codigo.

Ejemplo:
Crear una lista de las potencias a las 3 de los numeros impares de o a 9

In [ ]:
tres=[]
for i in range(1,10,2):
  tres.append(i**3)
  print(tres)

tres=[i**3 for i in range (1,10,2)]
print(tres)

[1]
[1, 27]
[1, 27, 125]
[1, 27, 125, 343]
[1, 27, 125, 343, 729]
[1, 27, 125, 343, 729]

In [ ]:
s=[1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
lwa=[5,10,15,20,25,30]
lwa2=[i/5 for i in lwa]
print(lwa2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
pera="mama ama a emma"
pera2=[i for i in pera if i=="e"]
print(pera2)

['e']