<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduccion**

---
para manejar un codigo limpio en python debemos eguir las siguientes recomendaciones:
1. manejar minusculas
2. se puede a√±adir numeros
3. aparece error si no estan seguidasla declaracion de la variable con el numero asignado, es decir **Ejemplo**
- ana1 = correcto
- ana 1= incorrecto

---

En Python hay varios tipos de datos conpuestos y que estan disponibles por defecto en los interprtes
**de que tipos**
- numericos
- secuencias
- Mapeo
- Conjuntos usados para agrupar otros valores

***Direfencia ente constante y variable***: 
**constante** es una constante que no cambia con el paso del tiempo
**variable:** es suceptible a tomar distintos valores numericos **Ejemplo**

In [2]:
x=89
print(x)

89

**tipos de datos**

---



enteros: numeros que no tiene decimales (pueden ser positivos y negativos)

In [3]:
a=int(3.089)
print(a)

3

comando int es para hacer alusion a numeros enteros a parte el comando float permite valores con decimales

In [6]:
b=float(8.45)
print(b)

8.45

**tipo cadena**

---

las cadenas de texto encerrado entre "" o '' y se pueden conformar de diferentes caracteres puden ser;
- numericos
- alfabeticos
- especiales

estas cadenas admiten operadores como las uma y la resta  (variable string)

In [14]:
val1="Andrea"
val2= "Hola Mundo"
print(val1 +" "+ val2)

Andrea Hola Mundo

In [19]:
n="Aprender"
z = 'Phyton'
nz = n + " " + z #no es codigo limpio se debe hacer el codigo mas simple posible
print(nz)
print(n,z)

Aprender Phyton
Aprender Phyton

**Tipo Boleano**
este tipo de variable solo tendra el valor de verdadero o falso
**nota:** son valores usados en condiciones y bucles

In [24]:
lola=True
print("el valor es verdadero", lola, "el cual es de tipo: ", type(lola))

el valor es verdadero True el cual es de tipo:  <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones (ejemplos listas, duplas, diccionarios)

**tipo de conjuntos**
son una coleccion de datos sin elementos que se repiten

In [26]:
fru="pera", "manzana","naranja"
colores ="morado","Blanco","azul"
print(fru,colores)

('pera', 'manzana', 'naranja') ('morado', 'Blanco', 'azul')

**tipo listas**

---
Son listas las que almacenasn vectores.
ejemplo:

In [39]:
ines=["5","uva","lila","perro","casa"]
fe=ines[0:3:2]#[ posiicion donde inicia: hasta donde va a llegar se comienza a contar desde 1: la posicionque va a contar]
print(ines)
print(fe)

['5', 'uva', 'lila', 'perro', 'casa']
['5', 'lila']

**tipo tuplas**

---
es una lista que no se puede modificar despues de la creacion de esta:
Tuplas anidadas: Agrupacion(tuplas)

In [42]:
tupla=23,28,"hola"
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hola')
((23, 28, 'hola'), (1, 2, 3, 4))

**Diccionarios**

---
define los datos uno a uno entre un campo (ID -Identificador clave) y un valor

In [62]:
datos_b={ #agrupacion intena
    "nombres":"Diana",
    "Apellido":"Perea",
    "Cedula":"2345671",
    "Estado_Civil":"Casada",
    "Lugar_nacimiento":"Pitalito",
    "Fecha_Nacimiento":"24/12/1980",
}

print(datos_b.keys())
print(datos_b.values())
print(datos_b.items())

print("cedula de ciudadnia: ", datos_b['Cedula'])

dict_keys(['nombres', 'Apellido', 'Cedula', 'Estado_Civil', 'Lugar_nacimiento', 'Fecha_Nacimiento'])
dict_values(['Diana', 'Perea', '2345671', 'Casada', 'Pitalito', '24/12/1980'])
dict_items([('nombres', 'Diana'), ('Apellido', 'Perea'), ('Cedula', '2345671'), ('Estado_Civil', 'Casada'), ('Lugar_nacimiento', 'Pitalito'), ('Fecha_Nacimiento', '24/12/1980')])
cedula de ciudadnia:  2345671

**Ejemplo practivo (caracteristicas de los carros)**

---

In [60]:
carros_0={}#se crea el espacio
carros_0['tam']="grande",#se a√±aden los campos y valores
carros_0['color']="negro",
carros_0['marca']="renault",
carros_0['precio']=60


carros_1={}#se crea el espacio
carros_1['tam']="peque√±o",#se a√±aden los campos y valores
carros_1['color']="blanco",
carros_1['marca']="renault",
carros_1['precio']=37
print(carros_0)
print(carros_1)

compra0=carros_0['precio'] 
compra1=carros_1['precio']
compratotal=compra0+compra1

print("la compra total fue de: "+ str(compratotal) )

{'tam': ('grande',), 'color': ('negro',), 'marca': ('renault',), 'precio': 60}
{'tam': ('peque√±o',), 'color': ('blanco',), 'marca': ('renault',), 'precio': 37}
la compra total fue de: 97