<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/clase12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd #llamamos la libreria pandas y le ponemos un alias pd
david = pd.Series([145,142,38,13], name='counts') #se crea una serie con los siguientes datos
#convierte una lista en una serie y a la columna se le nombra counts

print(type(david))
print('\n')
print(david.index)
print('\n')
print(david.values)
print('\n')
david

<class 'pandas.core.series.Series'>


RangeIndex(start=0, stop=4, step=1)


[145 142  38  13]

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [3]:
pd.Series(['a','b','c'])

0    a
1    b
2    c
dtype: object

In [12]:
#indice no tiene que ser numero
david3 = pd.Series([145,142,38,13], name ='counts',index=['juan','pedro','sofia','andrea'])
print(david3)
print('\n')
print(david3.values)
print('\n')
print(david3.index)
print('\n')

juan      145
pedro     142
sofia      38
andrea     13
Name: counts, dtype: int64


[145 142  38  13]


Index(['juan', 'pedro', 'sofia', 'andrea'], dtype='object')

In [32]:
david3[['juan','andrea']]

juan      145
andrea     13
Name: counts, dtype: int64

In [15]:
#y que hay de los nulos
nan_ser = pd.Series([2,None],index=['O','C'])
print(nan_ser)#nan solo puede ser dato tipo float
nan_ser.count()

O    2.0
C    NaN
dtype: float64

1

In [26]:
serie_impar =pd.Series(range(1,16,2),name='impar')
print(serie_impar.values)
print('\n')
serie_impar

[ 1  3  5  7  9 11 13 15]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
Name: impar, dtype: int64

In [63]:
serie_impar =pd.Series([1,3,5,7,9,12,15],name='impar')
print(serie_impar.values)
print('\n')
serie_impar

[ 1  3  5  7  9 12 15]


2    5
3    7
4    9
Name: impar, dtype: int64

In [64]:
print(serie_impar[2:5])

2    5
3    7
4    9
Name: impar, dtype: int64

In [65]:

print(serie_impar>10)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
Name: impar, dtype: bool

In [38]:
#PROCESO CLAB (CREACION, LECTURA, ACTUALIZACION, BORRADO)
#1) creacion
cidys =pd.Series([10,7,1,22], index=['1968','1969','1970','1970'], name='Per')
print(cidys)
print('\n')
#guardar multiples entradas de la serie
cidys2 =pd.Series({'1969':7,'1970':[1,22]}, index=['1968','1969','1970','1970'], name='Per')
print(cidys2)
print('\n')

# 2)lectura
print(cidys2['1970'])
print('\n')
print(cidys['1968'])
print('\n')

for i in cidys:
  print(i)

1968    10
1969     7
1970     1
1970    22
Name: Per, dtype: int64


1968        NaN
1969          7
1970    [1, 22]
1970    [1, 22]
Name: Per, dtype: object


1970    [1, 22]
1970    [1, 22]
Name: Per, dtype: object


10


10
7
1
22

In [71]:
#actualizacion -- asignacion
cidys =pd.Series([10,7,1,22], index=['1968','1969','1970','1970'], name='Per')
cidys
cidys['1969']=6
cidys
cidys['1970']=2
cidys

1968    10
1969     6
1970     2
1970     2
Name: Per, dtype: int64

In [73]:
#agregar nuevos valores a la serie
cidys = cidys.append(pd.Series({'1974':19}))
print(cidys)

1968    10
1969     6
1970     2
1970     2
1974     9
1974    19
dtype: int64

In [74]:
#borrado
del cidys['1968']
print(cidys)

1969     6
1970     2
1970     2
1974     9
1974    19
dtype: int64

In [75]:
#filtro
cidys[cidys<=2]

1970    2
1970    2
dtype: int64

In [76]:
cidys

1969     6
1970     2
1970     2
1974     9
1974    19
dtype: int64

In [77]:
#loc llama los indice especificando el indice y la columna
cidys.loc['1970']

1970    2
1970    2
dtype: int64