<a href="https://colab.research.google.com/github/victoriaPaez/MujeresDigitales2021/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asign√°ndole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [5]:
import pandas as pd

In [8]:
from google.colab import files
uploaded = files.upload()

Saving pokemon_data.csv to pokemon_data (1).csv

In [11]:
import io
df =pd.read_csv(io.BytesIO(uploaded['pokemon_data.csv']), sep=",")
df.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]

In [14]:
pk_type=df['Type 1'].unique
df['Interes']=False
df.head(10)

   #                       Name Type 1  ... Generation  Legendary  Interes
0  1                  Bulbasaur  Grass  ...          1      False    False
1  2                    Ivysaur  Grass  ...          1      False    False
2  3                   Venusaur  Grass  ...          1      False    False
3  3      VenusaurMega Venusaur  Grass  ...          1      False    False
4  4                 Charmander   Fire  ...          1      False    False
5  5                 Charmeleon   Fire  ...          1      False    False
6  6                  Charizard   Fire  ...          1      False    False
7  6  CharizardMega Charizard X   Fire  ...          1      False    False
8  6  CharizardMega Charizard Y   Fire  ...          1      False    False
9  7                   Squirtle  Water  ...          1      False    False

[10 rows x 13 columns]

In [21]:
df = df[(df['Type 1']=='Fire')& (df['Legendary']==True)]
mask= df['Type 1']== 'Fire'
df.loc[mask,'Interes']=True
df.head(10)

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Interes
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un c√≥digo para sacar el promedio de la columna Attack agrupado por Type 1.

In [ ]:
# Escriba su c√≥digo aqu√≠

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [ ]:
# Escriba su c√≥digo aqu√≠